body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
}


h1 {
    color: #333;
}

button {
    background-color: #2444c3;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 3px 7px;
    cursor: pointer;
}

button:hover {
    background-color: #1a3293;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-modal {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}