.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(25, 25, 73);
  color: white;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.time {
  padding: 5px;
  font-size: 20px;
}

.main-container {
  display: flex;
  flex: 1;
  overflow: hidden;
  justify-content: center;
}

.top-printers {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; 
  overflow: auto;
  flex-wrap: wrap; 
}

.Printer {
  display: flex;
  flex-direction: column;
  margin: 10px;
  min-width: 300px; 
}


.footer {
  position: fixed;
  left: 10px;
  bottom: 5px;
  border-color: white;
}